.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body{
    background-color: antiquewhite;
    font-family: serif;
}

@media (max-width: 400px){
    body{
        margin: 0px;
        font-size: 6px;
    }
}

nav, footer{
    height: 10%;
    width: 100%;
    background-color: rgb(10,10,117);
    border-radius: 10px;
    font-size: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 400px){
    nav, footer{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

nav img, footer img{
    height: 80%;
}

@media (max-width: 400px){
    nav img, footer img{
        display: none;
    }
}

nav a, footer p{
    color:aqua;
    font-family:fantasy;
    font-size: 2em;
    margin-right: 2%;
}

@media (max-width: 400px){
    nav a, footer p{
        font-size: 32px;
        margin: 15px;
    }
}

header, .Intro{
    height: 80%;
    width: 100%;
    font-size: 100%;
    margin: 2% auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#Head-img{
    height: 100%;
}

.Titolo{
    font-family:fantasy;
    font-size: 10em;
    color:aqua;
    text-align:center;
    margin-top: -10%;
    margin-bottom: 0%;
}

@media (max-width: 400px){
    .Titolo{
        margin-top: -80px;
    }
}

.Intro{
    position: relative;
}

.Intro img{
    height: 100%;
    width: 100%;
    position: absolute;
}

section #Introduzione{
    font-family: Original Surfer;
    font-size: 4em;
    color: rgb(10, 10, 117);
    text-align:center;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}

article{
    background-image: url("Icone/Pergamena2.png");
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    padding: 10%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

@media (max-width: 400px){
    article{
        width: 100%;
        padding: 0%;
        flex-direction: row;
        justify-content:space-between;
    }
}

.Riquadri{
    height: 50%;
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

@media (max-width: 400px){
    .Riquadri{
        height: 100%;
        width: 20%;
        margin: 5%, auto;
        justify-content: center;
        flex-direction: column;
    }
}

.Riquadri div{
    height: 100%;
    margin: 10%;
    font-size: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

@media (max-width: 400px){
    .Riquadri div{
        height: 33%;
        margin: 0%;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction:column;
    }
}

.Riquadri img{
    height: 80%;
    border-radius: 10px;
    margin: 5%;
}

@media (max-width: 400px){
    .Riquadri img{
        height: 40%;
    }
}

.Riquadri a{
    font-family: Original Surfer;
    font-size: 4em;
    color:rgb(10, 10, 117);
    margin-top: 5%;
    margin-bottom: 5%;
}

nav a:hover, .Riquadri a:hover{
    cursor: pointer;
    color: aqua;
}